Description=IP route service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=5
ExecStart=/bin/bash /usr/local/sbin/ip_route.sh

[Install]
WantedBy=multi-user.target
